<br /><hr />

<%# Issues Form %>
<%= render :partial => 'cm_objects_issues/new_issue',
    :locals => { :cm_object => @cm_item, :cm_object_type => "CmItem",
    :cm_object_cont => "cm_items", :export => "N" } %>

<br /><hr />
