<% fields_for :cm_mnt_log_type, @cm_mnt_log_type, :builder => TabularFormBuilder do |f| %>

<div class="splitcontentleft">
<p><%= f.text_field :name, :size => 30, :required => true %></p>
</div>

<div class="splitcontentright">
<p><label for="type_is_default"><%=l(:field_is_default)%></label>
<%= f.check_box :is_default %></p>
</div>

<p><%= f.text_area :description, :cols => 60, :rows => 5, :class => 'wiki-edit' %></p>
<% end %>
