<%= stylesheet_link_tag 'cmStyle', :plugin => 'redmine_cm' %>

<h3 class="tests" id="Title_New_Record">New Test Record</h3>

  <% labelled_tabular_form_for :cm_test_record, @cm_test_record,
       :html => {:id => 'cm_test_record-form',
       :class => nil,
       :multipart => true} do |f| %>

  <%= error_messages_for 'cm_test_record' %>

  <div class="box">
    <fieldset class="tabular"><legend>Report Properties</legend>
      <div id="attributes" class="attributes">
        <%= render :partial => 'cm_test_records/attributes', :locals => {:f => f} %>
      </div>

       <p><label><%=l(:label_attachment_plural)%></label><%= render :partial => 'attachments/form' %></p>

    </fieldset>

    <!--The buttom is only show when the call is done from the campaign view -->
    <%if  @data['caller_cont'] == 'cm_test_campaign'  %>
      <small id="new_code_generated"><%= link_to_remote(image_tag('create_button.png', :plugin => "redmine_cm",
          :style => 'vertical-align: middle;', :alt => 'Add New Record', :title => 'Add New Record'), {
          :url => {:controller => 'cm_test_records', :action => 'new',:caller_cont => 'cm_test_campaign',
          :cm_test_campaign_id => @data['cm_test_campaign_id'],
          :project_id => @data['project_id'],:update => "test_records_list"},
          :with => "Form.serialize('cm_test_record-form')"}) %></small>
    <%end%>
  </div> 

<% end %>

