<p>
<label for="cmdc_object">CMDC Object: </label>
  <%= select_tag :cmdc_object, options_for_select([['All', 0], ['Document', 1], ['Non-Conformance', 2],
  ['Meeting', 3], ['Change', 4], ['Delivery', 5], ['Item', 6], ['Maintenance', 7],
  ['Purchase Order', 8], ['Traceability Element', 9], ['RID', 10], ['Risk', 11],
  ['SMR', 12], ['Test', 13], ['Test Campaign', 14], ['Test Scenario', 15], ['Test Record', 16],
  ['Work Around', 17], ['Quality record', 18], ['Delivery', 19]]) %></p>