<div class="contextual">
<%= link_to_if_authorized(l(:button_list), {:controller => 'cm_mnt_logs', :action => 'index',
    :id => @project }, :class => 'icon icon-multiple') %>
<%= link_to_if_authorized(l(:button_update), {:controller => 'cm_mnt_logs', :action => 'edit',
    :id => @cm_mnt_log }, :class => 'icon icon-edit') %>
<%= link_to_if_authorized l(:button_delete), {:controller => 'cm_mnt_logs', :action => 'destroy',
    :id => @cm_mnt_log }, :confirm => l(:text_are_you_sure), :method => :post, :class => 'icon icon-del' %>
</div>
