<br /><hr />

<%# Issues Form %>
<%= render :partial => 'cm_objects_issues/new_issue',
    :locals => { :cm_object => @cm_rid, :cm_object_type => "CmRid",
    :cm_object_cont => "cm_rids", :export => "N", :relate_boards => "Y" } %>

<%= render :partial => 'cm_reqs/reqs_related', :locals => { :cm_object => @cm_rid, :export => "N" } %>
