<%= stylesheet_link_tag 'cmStyle', :plugin => 'redmine_cm' %>

<h2 class="rids"><%= @cm_rid.code %> #<%= @cm_rid.id %></h2>

<%= render :partial => 'edit' %>

<% html_title "CM - Edit Rid #{@cm_rid.code}" %>

