<br /><hr />

<%# Issues Form %>
<%= render :partial => 'cm_objects_issues/new_issue',
    :locals => { :cm_object => @cm_test, :cm_object_type => "CmTest",
    :cm_object_cont => "cm_tests", :export => "N" } %>

<br /><hr />
