<%= stylesheet_link_tag 'cmStyle', :plugin => 'redmine_cm' %>

<h2 class="tests">New Test</h2>

<% labelled_tabular_form_for :cm_test, @cm_test,
                             :html => {:id => 'new-cm_test-form',
                             :class => nil,
                             :multipart => true} do |f| %>
                             
  <%= error_messages_for 'cm_test' %>
    
  <div class="box">
    <fieldset class="tabular"><legend>Define Properties</legend>
      <div id="attributes" class="attributes">
        <%= render :partial => 'attributes', :locals => {:f => f} %>
      </div>
      <small>(<%= link_to "Specific Test Case Fields", {},
        :onclick => 'Effect.toggle("test_case_fields", "appear", {duration:0.3}); return false;' %>)
      </small>
      <small>(<%= link_to "Specific Test Procedure Fields", {},
        :onclick => 'Effect.toggle("test_procedure_fields", "appear", {duration:0.3}); return false;' %>)
      </small>
    </fieldset>

  </div>
  <br />
  <%= submit_tag l(:button_create) %>
  <%= submit_tag l(:button_create_and_continue), :name => 'continue' %>
<% end %>

<% html_title "CM - New Test" %>
