<br /><hr />

<%# Issues Form %>
<%= render :partial => 'cm_objects_issues/new_issue',
    :locals => { :cm_object => @cm_req, :cm_object_type => "CmReq",
    :cm_object_cont => "cm_reqs", :export => "N" } %>

<br /><hr />
