<br /><hr />

<%# Issues Form %>
<%= render :partial => 'cm_objects_issues/new_issue',
    :locals => { :cm_object => @cm_board, :cm_object_type => "CmBoard",
    :cm_object_cont => "cm_boards", :export => "N" } %>

<br /><hr />
