<%= stylesheet_link_tag 'cmStyle', :plugin => 'redmine_cm' %>

<h2 class="boards"><%= @cm_board.cm_board_code %> #<%= @cm_board.id %></h2>

<%= render :partial => 'edit' %>

<% html_title "CM - Edit Meeting #{@cm_board.cm_board_code}" %>