<br /><hr />

<%# Issues Form %>
<%= render :partial => 'cm_objects_issues/new_issue',
    :locals => { :cm_object => @cm_change, :cm_object_type => "CmChange",
    :cm_object_cont => "cm_changes", :export => "N" } %>

<br /><hr />
