<%= stylesheet_link_tag 'cmStyle', :plugin => 'redmine_cm' %>

<h2 class="changes"><%= @cm_change.code %> #<%= @cm_change.name %></h2>

<% if @cm_changes_boards.blank? %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
  <%= render :partial => 'boards_list' %>
<% end %>

<% html_title "CM - Boards Summary for #{@cm_change.code}" %>