<%= stylesheet_link_tag 'cmStyle', :plugin => 'redmine_cm' %>

<h2 class="tests">Edit Test Scenario</h2>

<%= render :partial => 'edit' %>

<% html_title "CM - Edit Test Scenario #{@cm_test_scenario.code}" %>